BEKA_ENV=development
BEKA_DEBUG=false
MOCK_TRAVEL_PROVIDER=false
BEKA_PROVIDER_TIMEOUT_MS=8000
BEKA_PROVIDER_RETRIES=1
DUFFEL_ENABLED=false
DUFFEL_API_URL=
DUFFEL_API_TOKEN=
ROUTESTACK_ENABLED=false
ROUTESTACK_API_URL=
ROUTESTACK_API_TOKEN=
WINK_ENABLED=false
WINK_BOOKING_ENABLED=false
WINK_TOKEN_URL=
WINK_CLIENT_ID=
WINK_CLIENT_SECRET=
